#inputText {
  width: 500px;
  height: 50px;
  margin-left: 15px;
}
.carCard {
  height: 420px;
  margin-bottom: 20px;
}
.carInfo {
  height: 70px;
  text-align: center;
}
.description {
  font-size: 1em;
  height: 100px;
}
.carYear {
  text-align: center;
  font-weight: bold;
  font-size: 1.7em;
}
.carsColor {
  font-size: .9em;
  text-align: center;
}
.carPrice {
  font-size: 1.7em;
  text-align: center;
}
.forSale {
  display: inline-block;
  background-color: green;
  color: white;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}

.sold {
  display: inline-block;
  background-color: red;
  color: white;
  border: 1px solid black;
  margin: 10px auto;
  padding: 10px;
}

.thickBorder {
  border-width: 10px;
}

.newBackground {
  background-color: #fff8dc;
}